---
- name: Import assert.yml
  ansible.builtin.import_tasks:
    file: assert.yml
  run_once: true
  delegate_to: localhost

- name: "Debian | Installing requierements"
  ansible.builtin.apt:
    name:
      - libtcnative-1
      - libapr1
      - libssl3
    state: present
  become: true
  register: result
  until: result is successful
  when: ansible_os_family == "Debian"

- name: Loop over tomcat_instances
  ansible.builtin.include_tasks:
    file: instance.yml
  loop: "{{ tomcat_instances }}"
  loop_control:
    label: "{{ instance.name }}"
    loop_var: instance
  when:
    - tomcat_instances is defined
